.header .navbar-brand {
  letter-spacing: 2px !important;
  font-size: 22px;
  font-weight: 700;
  color: rgb(0, 67, 167) !important;
}
.header .navbar-brand img {
  width: 50px;
  margin: 0 10px;
}
nav {
  /* border-radius: 0 0 10px 10px; */
  background: linear-gradient(
    to left,
    rgba(11, 31, 76, 0.183),
    rgba(50, 150, 250, 0.747),
    rgba(200, 200, 250, 0.2)
  );
  box-shadow: 2px 2px 100px 1px rgba(0, 0, 0, 0.132);
}
.header .nav-link {
  font-size: 18px;
  padding: 15px !important;
  transition: all 0.5s;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff !important;
  font-weight: 500;
}
.header .nav-link:hover {
  color: blue !important;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.header .btn {
  padding: 5px 35px !important ;
  /* font-weight: 300; */
}
